#mm body {
	margin: 0;
}

#mm * {
	font-size: 1.02em;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  background-color: #cccccc;
}

#mm .ui-header .ui-title, .ui-footer .ui-title {
	margin: 0;
}

#mm #header {
	position: relative;
}

#mm #header #home {
	position: absolute;
	left: -2px;
	top: 3.5px;
	bottom: 0px;
}

#mm canvas {
	cursor: grab;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
}

h1 .ui-title {
	margin-bottom: 5px;
}
/*#canvas {
	background-color: white;
}*/

#canvas_button_divider {
	visibility: hidden;
}

#launchdiv {
	position: relative;
	text-align: center;
}
#speed, .ui-input-text {
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

#buttondiv {
	text-align: center;
	position: relative;
}

#sliderdiv {
	text-align: center;
	position: relative;
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
}

#slider {
	height: 10px;
}

#explanation {
	position: relative;
}

h3{color: red; 
  font-size: 20px;
font-weight: bold;
padding-left: 5%;
}

p{font-size: 15px;
max-width:800px;
padding-left: 5%;
line-height: 150%;
font-family: Helvetica, sans-serif;
}



